<div id="<%= dom_id tutorial %>">
  <p>
    <strong>Name:</strong>
    <%= tutorial.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= tutorial.url %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= tutorial.category %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tutorial.user_id %>
  </p>

</div>
